<footer>
    <div class="menu-footer">
        <div class="logo-footer">
            <img src="/img/Logo.png" alt="">
            <p>Rua Santiago Amorin,52 | Bairro Longa Vida</p>
        </div>
            
            <ul>                             
                <a href="">
                    <li>Delivery</li>
                </a>
                <a href="">
                    <li>Reservas</li>
                </a>
                <a href="">
                    <li>Contatos</li>
                </a>
                <a href="">
                    <li>SObre-Nós</li>
                </a>                        
            </ul>
            <div class="rede-sociais">
                <a href="">
                    <img src="/img/Face.png" alt="">
                </a>
                <a href="">
                    <img src="/img/Insta.png" alt="">
                </a>
                <a href="">
                    <img src="/img/Whats.png" alt="">
                </a>
            </div>
            <p>Copyright © 2022 Dim Sum - Todos os direitos reservados</p>
    </div>
</footer>