<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/img/Dragão Chines.png">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/footer.css">
    

    <title>DIM-SUM - Comida Chinesa</title>
</head>
<body>
    
</body>
</html>

<header>   
    <nav class="container">
        <ul>
            <div class="logo break">
                <a href="/"><img src="/img/Logo.png" alt=""></a>
            </div>           
           
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/cardapios">
                    <li>Cardápio</li>
                </a>
                <a href="/usuario">
                    <img src="/img/User.png" alt="">
                </a>
                <a href="/carrinho">
                    <img src="/img/Cart.png" alt="">
                </a>
           
        </ul>
    </nav>  
</header>