<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIM SUM - Comida Chinesa</title>
</head>
<body>
    <header>
        <nav class="container">
            <div>
                <a href="" class = "logo">
                    <img src="/img/Logo.png" alt="">
                </a>
            </div>
                <a href="">
                    <li>Home</li>
                </a>
                <a href="">
                    <li>Cardápio</li>
                </a>
                <a href="">
                    <img src="/img/User.png" alt="">
                </a>
                <a href="">
                    <img src="/img/Cart.png" alt="">
                </a>
            </ul>
        </nav>
    </header>

    <div class="back">
        <a href="">Voltar</a>
    </div>

    <main class="detalhes-produto">
        <section class="detalhes-img">
            <img src="/public/img/Barriguinha de Porco.jpg" alt="">
        </section>

        <section class="detalhes-descricao">
            
            <div class="detalhes-prato">
                <h1 class="nome-prato">Barriga de Porco</h1>
                <p class="descricao-produto">Porco agridoce ao molho de feijão moyashi e vegetais orgânicos. Este é o prato mais popular do sudeste asiático, consumido em feiras urbanas e também em toda zona rural. A barriga de porco é preparada com os melhores temperos. </p>
            </div>

            <form action="" method="POST" >
                <select name="pimenta" id="pimenta">
                    <label for="form">Pimenta?</label><br>
                    <input type="radio" id="nenhuma-pimenta" name="nenhuma-pimenta" value="nenhuma-pimenta">
                    <label for="nenhuma-pimenta">Nenhuma Pimenta</label><br>
                    <input type="radio" id="pouca-pimenta" name="pouca-pimenta" value="pouca-pimenta">
                    <label for="pouca-pimenta">Pouca Pimenta</label><br>
                    <input type="radio" id="muita-pimenta" name="muita-pimenta" value="muita-pimenta">
                    <label for="muita-pimenta">Muita Pimenta</label><br>
                </select>
            </form>

            <div class="preco">
                <h5>Valor Final</h5> 
                <p>80,50</p>
            </div>

            <button type="submit" >ADICIONAR AO CARRINHO</button>

        </section>
    </main>
    


</body>
</html>