<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/Dragão Chines.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>DIM SUM - Comida Chinesa</title>
</head>
<body>

   <header>           
        <nav class="container">
            <ul>
                <div class="logo">
                    <a href=""><img src="/img/Logo.png" alt=""></a>
                </div>          
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/cardapios">
                    <li>Cardápio</li>
                </a>
                <a href="/usuarios/login-usuario">
                    <img src="/img/User.png" alt="">
                </a>
                <a href="/carrinho">
                    <img src="/img/Cart.png" alt="">
                </a>
            </ul>
        </nav>

        <div id="header-content">
            <input type="text" placeholder="Encontre Seu Prato Preferido...">
            <button><img src="/img/Search.png" alt=""></button>
        </div>

   </header>
   
    <main>
        <div class="title">
            <p>Nossos</p>
            <h1>Destaques</h1>
        </div>

        
        <div class="section-content">
            <div id="image-banner">
                <img src="/img/Pratos.png" alt="">
            </div>

            <div class="cards">

               <% promo.forEach(el => { %>
                <section class="card">
                    <div class="icon">
                        <img src="<%= el.url %>" alt="">
                    </div>
                    <div class="back-title">   
                        <h3><%= el.dish %></h3>
                        <p><%= el.info.slice(0,-21) %>...</p>
                        <button>Pedir este prato</button>
                    </div>
                </section>
             <% }) %> 
            </div>
        </div>
    </main>

    <div class="nav-section">
        <div class="nav-info">
            <img src="/img/Prato-modelo.jpg" alt="Prato do Dia">

            <div class="container-hours">
                <h1>Horário de funcionamento</h1>
                <h3>Em nosso restaurante</h3>
                <ul>
                    <li>Segunda-feira - 12h - 21h</li>
                    <li>terça-feira - 12h - 21h</li>
                    <li>quarta-feira - 12h - 21h</li>
                    <li>quinta-feira - 12h - 21h</li>
                    <li>sexta-feira - 12h - 21h</li>
                    <li>sábado - 12h - 21</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-section">
        <section class="card-second">
            <div class="icon-second">
                <div class="icon-info">
                    <p>Faça sua</p>
                    <h1>Reserva</h1>
                    <p>Reserve um lugar especial aqui no restaurante e venha aproveitar bons momentos.</p>
                    <button>Faça sua reserva</button>
                </div>
                <img src="/img/Restaurante.jpg" alt="">
                
            </div>
        </section>

        <section class="card-second">
            <div class="icon-second">
                <div class="icon-info">
                    <p>Peça pelo</p>
                    <h1>Delivery</h1>
                    <p>Faça seu pedido e receba em casa  a melhor comida chinesa.</p>
                    <button>Faça seu pedido</button>
                    
                </div>
                <img src="/img/Lampada.jpg" alt="">
            </div>
            <div class="back-title-second">   
                
            </div>
        </section>
    </div>

  

    <%- include ('./partials/Footer.ejs')  %>

</body>
</html>