<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/Dragão Chines.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <title>DIM SUM - Comida Chinesa</title>
</head>
<body>

   <header>    
        <nav class="container">
            <ul>
                <div class="logo">
                    <a href=""><img src="/img/Logo.png" alt=""></a>
                </div>          
                <a href="">
                    <li>Home</li>
                </a>
                <a href="">
                    <li>Cardápio</li>
                </a>
                <a href="">
                    <img src="/img/User.png" alt="">
                </a>
                <a href="">
                    <img src="/img/Cart.png" alt="">
                </a>
            </ul>
        </nav>

        <div id="header-content">
            <input type="text" placeholder="Encontre Seu Prato Preferido...">
            <button><img src="/img/Search.png" alt=""></button>
        </div>

   </header>
   
    <main>
        <div class="title">
            <p>Nossos</p>
            <h1>Destaques</h1>
        </div>
        <div class="section-content">
            <div class="cards">
                <section class="card">

                    <div class="icon">
                        <img src="/img/Bolinho de Pato.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Bolinho de Pato</h3>
                        <p>Massa fina de arroz recheado com pato laqueado desfiado.</p>
                        <button>Pedir este prato</button>
                    </div>
                </section>

                <section class="card">
                    
                    <div class="icon">
                        <img src="/img/Peixe no Vapor.jpg" alt="">
                    </div>
                    <div class="back-title"> 
                        <h3>Bolinho de Pato</h3>
                        <p>Massa fina de arroz recheado com pato laqueado desfiado.</p>
                        <button>Pedir este prato</button>
                    </div>
                </section>

                <section class="card">

                    <div class="icon">
                        <img src="/img/Barriguinha de Porco.jpg" alt="">
                    </div>
                    <div class="back-title">
                        <h3>Bolinho de Pato</h3>
                        <p>Massa fina de arroz recheado com pato laqueado desfiado.</p>
                        <button>Pedir este prato</button>
                    </div> 
                </section>

            </div>
        </div>
    </main>

  

        

</body>
</html>