<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>DIM-SUM - Comida Chinesa</title>
</head>
<body>
    <header>    
        <nav class="container">
            <ul>
                <div class="logo">
                    <a href="/"><img src="/img/Logo.png" alt=""></a>
                </div>          
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/cardapios">
                    <li>Cardápio</li>
                </a>
                <a href="">
                    <img src="/img/User.png" alt="">
                </a>
                <a href="">
                    <img src="/img/Cart.png" alt="">
                </a>
            </ul>
        </nav>
        <div class="page-title">
            <h1>Cardápio</h1> 
        </div>        
   </header>

   <main>
    <div class="contain">
        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/FrangoGonBao.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Frango Gon Bao</h3>
                        <p>No gong  bao, o amendoin  e o frango  são os principais ingredientes, 
                            sendo aromatizados pelos sabores marcantes. Leve, moderado e adocicado</p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/MapoTofu.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Mapo Tofu</h3>
                        <p>O Tofu é o ingredientes principal do mapu tofu , ganhando sabores marcantes  
                            com  a adição de pasta de pimenta e pasta de feijão. Refeição leve.</p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/PorcoAgridoce.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Porco Agridoce</h3>
                        <p>No caso do porco agridoce chinês são utilizados pedaços pequenos de carne temperados com  molho de soja, açucar
                             e vinagre.
                        </p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/ChowMein.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Chow Mein</h3>
                        <p>Um dos pratos mais consumidos nos restaurantes chineses ao redor  do mundo é chow mein.
                            Nossos pratos variam de carne bovina, frango, vegetais e até camarão.
                        </p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/Dumpling.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Dumpling</h3>
                        <p>O dumpling é um tipo de massa redonda e com consistencia diferentes de wontons.
                            Cozido no vapor ou frito é um prato feito com molho de soja e pimenta.
                        </p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/PatoPequim.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Pato de Pequim</h3>
                        <p>O Pato de Pequim é um pato de qualidade, sendo assado com madeiras especiais, para garantir sabor diferenciados.
                            Acompanha panquecas para ser saboreado.
                        </p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>
    </div>
   </main>









   <footer>
    <div class="menu-footer">
        <div class="logo-footer">
            <img src="/img/Logo.png" alt="">
            <p>Rua Santiago Amorin,52 | Bairro Longa Vida</p>
        </div>
            
            <ul>                             
                <a href="">
                    <li>Delivery</li>
                </a>
                <a href="">
                    <li>Reservas</li>
                </a>
                <a href="">
                    <li>Contatos</li>
                </a>
                <a href="">
                    <li>SObre-Nós</li>
                </a>                        
            </ul>
            <div class="rede-sociais">
                <a href="">
                    <img src="/img/Face.png" alt="">
                </a>
                <a href="">
                    <img src="/img/Insta.png" alt="">
                </a>
                <a href="">
                    <img src="/img/Whats.png" alt="">
                </a>
            </div>
            <p>Copyright © 2022 Dim Sum - Todos os direitos reservados</p>
    </div>
</footer>
</body>
</html>