<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina do Usuario</title>
</head>
<body>
    <%-include('./partials/Header.ejs') %>

    <main class="pageAccount">

        <nav id="nav-account">
            <img id="profilePicture" src="" alt="foto de perfil">

            <h2>Olá, </h2>

            <ul id="accountOption">
                <li><a href="#dadosPessoais">Dados Pessoais</a></li>
                <li><a href="#endereco">Endereço</a></li>
                <li><a href="#pedidos">Pedidos</a></li>
                <li><a href="#cartoes">Cartões</a></li>
                <li><a href="#sair">Sair</a></li>
            </ul>
        </nav>

        <div>

        </div>

    </main>


    <%-include('./partials/Footer.ejs')  %>
</body>
</html>