<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina do Usuario</title>
    <script src="/js/main.js" defer></script>
</head>
<body class="bodyAccount">
    
    <%-include('./partials/Header.ejs') %>
    <div class="page-title">
        <h1><%= titulo %></h1> 
    </div>

    <div class="contain">
        <div class="pagination">
            <a href="/">Home > </a>
            <a href="/cardapios">Cardápio > </a>
            <p>Carrinho</p> 

        </div>
    </div>

    <main class="pageAccount">
            <div class="align-content">

                <nav id="nav-account">
                    <img id="profilePicture" src="/img/User.png" >

                    <h2 id="saudacao">Olá, <%=user.nameComplet%>!</h2>

                    <ul id="accountOption" style="list-style: none">
                        <li class="nav" id="btn-dados">Dados Pessoais</li>
                        <li class="nav" id="btn-endereco">Endereço</li>
                        <li class="nav" id="btn-pedidos">Pedidos</li>
                        <li class="nav" id="btn-sair"><a href="/">Sair</a></li>
                    </ul>
                </nav>
            


            <div id="dadosPessoais">
                    <h2 class="titulo-div">Dados Pessoais</h2>
                <div class="align-inputs">                
                    <form id="userData" action="">
                        <div class="dados">

                                <div class="align-label">
                                    <label for="name" class="orderOne">Nome</label>
                                    <label for="sobrenome" class="orderTwo">Sobrenome</label>
                                </div>

                                <div class="align">
                                    <input type="text" id="name"> 
                                    <input type="text" id="sobrenome">
                                </div>
                            
                                <div class="align-email">
                                    <label for="email">E-mail</label><br>
                                    <input type="email" id="email">
                                </div>
                                
                                <div class="align-label">
                                    <label for="cpf">CPF</label>
                                    <label for="gender" class="genderOne">Genero</label>
                                </div>

                                <div class="align">
                                    <input type="text" id="cpf">
                                    <select name="gender" id="gender">
                                        <option value="masc" class="gender">Masculino</option>
                                        <option value="fem" class="gender">Feminino</option>
                                        <option value="nomBinare" class="gender">Não Binario</option>
                                    </select>
                                </div>


                                <div class="align-label" >
                                    <label for="telefone">Telefone</label>
                                    <label for="dataDeNascimento" class="dateOne">Data de Nascimento</label>
                                </div>
                                <div class="align">
                                    <input type="text" id="telefone">
                                    <input type="date" id="dataDeNascimento">
                                </div>
                        </div>

                    </form>
                </div>
                            <button type="submit" class="btnAccount">Salvar</button>

                </div>
                        <div id="endereco">

                            <h2 class="titulo-div">Endereço</h2>

                            <form id="formEndereco" action="">

                                <label for="Logradouro">Logradouro</label>
                                <input id="logradouro" type="text"><br>

                                <label for="numero">N°</label>
                                <input id="numero" type="text"><br>

                                <label for="bairro">Bairro</label>
                                <input id="bairro" type="text"><br>

                                <label for="cidade">Cidade</label>
                                <input id="cidade" type="text"><br>

                                <label for="cep">CEP</label>
                                <input id="cep" type="number"><br>

                                <button type="submit" class="btnAccount" >Atualizar</button>

                            </form>

                        </div>

                <div id="pedidos">
                    <h2 class="titulo-div">Pedidos</h2>
                    <p>Prato: </p><br>
                    <p>Quantidades: </p><br>
                    <p>Total: </p>
                </div>
                
            </div>
        </div>
    </main>


    <%-include('./partials/Footer.ejs')  %>
</body>
</html>