<body> 
   
        <%- include ("./partials/Header.ejs") %> <!--Metodo de Chamada do Header Dinamico-->

        <div class="page-title">
            <h1><%= titulo %></h1> 
        </div> 
     
   <main>
    <div class="contain">
        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/FrangoGonBao.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Frango Gon Bao</h3>
                        <p>No gong  bao, o amendoin  e o frango  são os principais ingredientes, 
                            sendo aromatizados pelos sabores marcantes. Leve, moderado e adocicado</p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/MapoTofu.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Mapo Tofu</h3>
                        <p>O Tofu é o ingredientes principal do mapu tofu , ganhando sabores marcantes  
                            com  a adição de pasta de pimenta e pasta de feijão. Refeição leve.</p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/PorcoAgridoce.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Porco Agridoce</h3>
                        <p>No caso do porco agridoce chinês são utilizados pedaços pequenos de carne temperados com  molho de soja, açucar
                             e vinagre.
                        </p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/ChowMein.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Chow Mein</h3>
                        <p>Um dos pratos mais consumidos nos restaurantes chineses ao redor  do mundo é chow mein.
                            Nossos pratos variam de carne bovina, frango, vegetais e até camarão.
                        </p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/Dumpling.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Dumpling</h3>
                        <p>O dumpling é um tipo de massa redonda e com consistencia diferentes de wontons.
                            Cozido no vapor ou frito é um prato feito com molho de soja e pimenta.
                        </p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>

        <nav class="content">
            <div class="cards">
                <section class="card">
                    <div class="icon">
                        <img src="/img/PatoPequim.jpg" alt="">
                    </div>
                    <div class="back-title">   
                        <h3>Pato de Pequim</h3>
                        <p>O Pato de Pequim é um pato de qualidade, sendo assado com madeiras especiais, para garantir sabor diferenciados.
                            Acompanha panquecas para ser saboreado.
                        </p>
                        <span>R$ 35,99</span><br>
                        <button>Pedir este prato</button>
                    </div>
                </section>
            </div>
        </nav>
    </div>
   </main>


   <%- include ('./partials/Footer.ejs')  %> <!--Método de chamada do Footer Dinâmico-->


</body>
</html>