.bodyAccount{
    background-color: #C3103C;
}

.pageAccount{
    width: 1000px;
    height: 500px;
    display: flex;
    margin: 10%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'roboto';
}

#profilePicture{
    width: 100px;
    height: 100px;
    background-color: #C3103C;
    border-radius: 55px;
    margin-bottom: 20px;
    margin-top: 45px;
}

#nav-account{
    padding: 70px;
    height: 460px;
    width: 300px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
    margin-right: 30px;
    box-shadow: 2px 2px 2px 2px rgba(248, 226, 111, 1);
    border-radius: 15px;
    margin-left: -50px;
}

#saudacao{
    margin-bottom: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #C3103C;
}

#btn-dados{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-endereco{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-pedido{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-cartoes{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-pedidos{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-sair{
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.titulo-div{
    padding: 15px;
    border-bottom: 2px solid grey;
    color: black;
}

#dadosPessoais{
    display: block;
    width: 700px;
}

#userData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    margin-left: 210px; 
    height: 250px;
    justify-content: space-between;
}

.btnAccount{
    background-color: rgba(248, 226, 111, 1);
    padding: 7px;
    border-radius: 15px;
    border: none;
}

input{
    border-radius: 5px;
    border: 1px solid black;
}

select{
    border-radius: 5px;
    border: 1px solid black;
}

#endereco{ 
    display: none;
    width: 700px;
}

#formEndereco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    margin-left: 210px; 
    height: 250px;
    justify-content: space-between;
    margin-top: 20px;
}

#cartoes{
    display: none;
    width: 700px;
}

#formCartoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    margin-left: 210px; 
    height: 250px;
    justify-content: space-between;
    margin-top: 20px;
}