.bodyAccount{
    background-color: #C3103C;
   
}

.pageAccount {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;

    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'roboto';
    margin: 1px auto;
   
}



.align-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 150px;
    overflow: hidden;

    margin: 20px;
    padding: 10px;
    width: 100%;
    

}

#profilePicture{
    width: 100px;
    height: 100px;
    background-color: #C3103C;
    border-radius: 55px;
    margin-bottom: 20px;
    margin-top: 45px;
}

#nav-account{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;
    
    box-shadow: 2px 2px 2px 2px rgba(55, 54, 54, 0.396); 
    border-radius: 15px;
   
}

#nav-account ul {
    width: 12em;
}

#saudacao{
    margin-bottom: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #C3103C;
    
}


.nav{
    text-decoration: none;
    color: #C3103C;
    cursor: pointer;
}

.nav:hover {
    color: #d496a5;
}

#btn-dados{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-endereco{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-pedido{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-cartoes{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-pedidos{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

#btn-sair{
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.titulo-div{
    border-bottom: 1px solid grey;
    color: black;
    width: 83%;
    text-transform: uppercase;
}


#dadosPessoais{
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
    gap: 20px;
    
    width: 100%;
}
.align-inputs {
    width: 100%;
   
}

.align-inputs input {
    flex-wrap: nowrap;
    width: 100%;
}

.align {
    width: 100%;
   
}

.align-email {
    width: 92%;
}
.align-inputs #email {
    width: 90%;
    margin-bottom: 20px;
}
.align-inputs #name {
    width: 40%;
    margin-bottom: 20px;
}
.align-inputs #sobrenome {
    margin-left: 20px;
    width: 40%;
    margin-bottom: 20px;
}
.align-inputs #cpf {
    width: 40%;
    margin-bottom: 20px;
    
}
.align-inputs #telefone {
    width: 40%;
    margin-bottom: 20px;
    
}
.align-inputs #dataDeNascimento {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.align-inputs .dateOne {
    margin-left: -20px;
}
.align-inputs #gender {
    width: 40%;
    margin-left: 20px;
    padding: 5px;
    margin-bottom: 20px;
    
}

.align-inputs .genderOne {
    margin-left: 15px;
}

.align-label {
    display: flex;
    gap: 265px;
    
}


.dados{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   width: 100%;
}
    



.btnAccount{
    background-color: #C3103C;
    width: 250px;
    margin: 10px auto;
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    
}

input{
    border-radius: 3px;
    padding: 5px;
    border: 1px solid black;
    width: 100%;
}

select{
    border-radius: 5px;
    border: 1px solid black;
}

#endereco{ 
    display: none;
    width: 700px;
}

#formEndereco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    margin-left: 210px; 
    height: 250px;
    justify-content: space-between;
    margin-top: 20px;
}

#pedidos{
    display: none;
    width: 700px;
}

#cartoes{
    display: none;
    width: 700px;
}

#formCartoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    margin-left: 210px; 
    height: 250px;
    justify-content: space-between;
    margin-top: 20px;
}


@media (max-width: 720px) {
    .align-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .align-label {
        gap: 152px;
    }

    .align-email {
        width: 97%;
    }
}
