/**Fontes do Google**/
    @import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inria+Sans:wght@300&family=Inter:wght@900&family=Josefin+Sans:wght@100&family=Public+Sans:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/*****************/


* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
}


header {  
    background-image: url('/img/Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    z-index: 10;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.425);
}




nav.container {
    padding: 15px ;
    z-index: 5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   
    

}

.container ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 50px;
    margin-right: 200px;
    
}

nav .logo {
    margin: auto;
    margin-left: 20px;
    padding: 0;
}

.logo img {
    width: 180px;
    height: 70px;
}


.container a{
    font-style: none;
    text-decoration: none;
    font-family: 'inika';
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    padding: 10px;
}
ul a:hover {
    color: rgb(244, 140, 49);
    filter: brightness(100%);
}

.container li {
    list-style: none;
    
    
}

nav img {
    width: 40px;
    height: 40px;
}

#header-content {
    margin: 300px auto;
    display: flex;
    justify-content: center;
    
}

#header-content input {
    padding: 15px;
    width: 25%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
}

#header-content button {
    width: 53px;
    padding: 1.6px;
    margin-left: -53px;
    border: none;
    border-radius: 0 30px 30px 0;
    background: #C3103C;
    cursor: pointer;
   

}

#header-content img {
    padding: 10px;    
    width: 40px;
}

main {
    background: #C3103C;
    width: 100%;
    box-shadow: 5px -5px 20px 10px rgba(14, 14, 14, 0.6);    
}

.section-content {  
    width: 100%;
    position: relative;
}

#image-banner {    
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    
}

#image-banner img {
    width: 320px;
}


.cards {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    flex-wrap: wrap;
    grid-gap: 0 120px;
}


.cards .card {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    max-height: 500px;
    background: white;
    box-shadow: 10px 0 20px 2px rgba(46, 45, 45, 0.5); 
}



section.card:first-child {
    margin-left: 0;
}


section.card .icon  {    
    width: 380px;
    height: 250px;
    
}

.back-title {
    max-width: 250px;
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Roboto';
      
    
}

section.card h3 {
    margin: 1px 0;
    text-transform: uppercase;
    color: #C3103C;
    
}

section.card p {
    text-transform: capitalize;
    color: rgb(150, 154, 157);
    
}

section.card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

section.card button {
    width: 200px;
    padding: 1em 1rem;
    font-family: 'Roboto';
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: rgba(248, 226, 111, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}


.title {    
   text-align: center;
   padding-top: 50px;
   margin-bottom: 50px;
}

.title p {
    font-family: 'inika';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: white;

}



.title h1 {

    font-family: 'inika';
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
}

.nav-section {
    margin: 20px;
    display: flex;
    
   
}

.nav-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.nav-info img {
    width: 90vh;
    border-radius: 20px;
}

.container-hours {
    margin: 0 auto;
    padding: 0 40px;
    margin-top: 50px;

}

.container-hours h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'inika';
    color: #F2567C;

}

.container-hours h3 {
    font-family: 'Roboto';
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 25px;
    color: #846F6F;
}

.container-hours ul {
    margin: 50px auto;
    font-size: 25px;
    font-family: 'Roboto';
    text-transform: capitalize;
}

.container-hours li {    
    list-style: none;
    color: #C3103C;
}

.nav-section-01 {
    display: flex;
}

.container-section {       
    border-top: 1px solid #c3103d2c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
    overflow: hidden;
   

}

.container-section .card-second {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px; 
    
}

.container-section .icon-info {
    position: absolute;
    z-index: 5;
    top: 80px;
    left: 30px;
}



.container-section .icon-info h1 {
    font-size: 80px;
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #F2567C;
}

.container-section .icon-info p {
    color: white;
    width: 90%;
    font-size: 20px;
    font-family: 'inika';
    text-transform: capitalize;
}

.icon-info span {
    color: white;
}

.icon-info button {
    width: 35%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    background: #F8E26F;
    cursor: pointer;
}

.container-section img {
    width: 550px;
    height: 400px;
    filter: brightness(40%);
    border-radius: 20px;
    
}



@media screen and (max-width: 720px) {

    .container-hours {
        text-align: center;
        
    }

    .nav-info img {
        width: 60vh;
        
    }
    
    .container-section {
        
        display: none;
        
        
    }
}



